/* Google Font start */

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-style: normal;
}

/* Google Font end */

/* header section start */
  .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0 24px 0px;
  }
  .navtitle{
    font-size: 800;
    font-weight: 40px;

  }
  .navbtn{
    border: 1px solid #006A50;
    color: #006A50;
    border-radius: 10px;
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;

  }
  .navbtn:hover{
    background-color: #006A50;
    color: #ffffff;
    transition: 0.3s;
  }
/* header section end */

/* hero section */

.herobg{
  background-color: #C6E4D6;
  border-radius: 10px;
  padding: 80px;
  justify-items: center;
}

.text{
  padding: 60px 36px ;
}

.hero{
  display: flex;
  justify-content: space-between;
}
.herotitle{
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  font-weight: 800;
}
.herotop{
  color: #0e0e0e83;
  font-weight: 700;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}
.btn{
  background-color: #006a509a;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 17px 34px;
  font-weight: 600;
  font-size: 18px;
}
.btn:hover{
  background-color: #006a50;
  color: white;
  transition: 0.3s;
}
/* hero section end*/

/* main-section */
body{
max-width: 1140px;
margin: 0 auto;
background-color: #f5f5f5;

}
.heroimg{
  height: 400px;
}


/* cart section */
.pilla{
  padding-top: 80px;
  padding-bottom: 32px;
}
.cart{
  display: flex;
  gap: 30px;
}

.maincart{
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #00000021;
}

.carthead{
  font-weight: 700;
  font-size: 40px;
}

.carttitle{
  font-weight: 700;
  font-size: 20px;
}

.cartdescription{
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
}
/* cart section */

/* future   cart  start*/

.futurecart{
  display: flex;
  gap: 30px;
}
/* cartbtn-1 start */
.cart-1{
  background-color: #548ff528;
  border-radius: 16px;
  padding: 32px;
}

.cartbtn-1{
  background-color: #5490F5;
  color: white;
  padding: 11px 20px;
  border: none;
  border-radius: 10px;
}
.cartbtn-1:hover{
  background-color: #006a50;
  transition: 0.3s;
}
/* .cartbtn-1 end */

/* cartbtn-2 start */
.cart-2{
  background-color: #C6E4D6;
  border-radius: 16px;
  padding: 32px;
}
.cartbtn-2{
  background-color: #09A15C;
  color: white;
  padding: 11px 20px;
  border: none;
  border-radius: 10px;
}
.cartbtn-2:hover{
  background-color: #006a50;
  transition: 0.3s;
}

/* .cartbtn-2 end */


/* cartbtn-3 start */
.cart-3{
  background-color: #F7EBCF;
  border-radius: 16px;
  padding: 32px;
}
.cartbtn-3{
  background-color: #FFC239;
  color: white;
  padding: 11px 20px;
  border: none;
  border-radius: 10px;
}
.cartbtn-3:hover{
  background-color: #006a50;
  transition: 0.3s;
}
/* .cartbtn-3 end */

.cart-1-title{
  font-weight: 700;
  font-size: 20px;
}


a{
  text-decoration: none;
}

.future{
  padding-bottom: 32px;
}

/* future   cart  start*/

/* Dr. Muhammad Yunus */
.bg-2{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  padding: 24px;
}
.description-2{
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  padding: 0px;
  margin: 0px;
}
.tt{
  font-weight: 700;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}
.tt2{
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 20px;
  margin: 0px;
  color: #0e0e0e69;
}
.t-bg{
  background-image: url(../img/quote-bg.png);
  background-position:top left;
  background-repeat: no-repeat;
  padding-top: 15px;
}
.description-2{
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  color: #0e0e0eca;
}


/* Your Opinion Matters */

.Opinion-Matters{
  padding-top: 40px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
}
.container{
  background-color: white;
  padding: 32px;
}


/* table section */
table {
  width: 100%;
  font-size: 18px;
  text-align: left;
  border-collapse: collapse;
}
th{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  padding: 24px;
  background-color: #C6E4D6;
}

td{
  font-weight: 600;
  font-size: 19px;
  border: 1px solid #dddddd;
  padding: 36.5px 24px;
}

.agreebutton {
  color: black;
  background-color: #C6E4D6;
  border: 1px solid #000000;
  padding: 12.5px 16.5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

.agreebutton:hover {
  background-color: #dfffe6;
}


/* Recent News */
.contain{
  display: flex;
  gap: 30px;
  background-color: white;
  padding: 48px;
  border-radius: 24px;
  align-items: center;
  margin: 24px 0px;
}
.newsphoto{
  border-radius: 24px;
  width: 400;
  height: 300;
}

.newshead{
  font-weight: 700;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
}
.bold{
  font-weight: 600;
  font-size: 30px;
  padding: 0px;
  margin: 0px;

}
/* .regular{
  font-weight: 400;
  font-size: 15px;
} */
 .regular{
  padding: 0px;
 }
.textcolor{
  color: #000000a1;
}
.blockimg{
  display: block;
  padding-bottom: 12px;
}

.btn-2{
  background-color: #006a50;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  padding: 12px 26px;
  font-weight: 400;
  font-size: 16px;
}
.btn-2:hover{
  background-color: #0051bb;
  color: white;
  transition: 0.3s;
}

.newsgap{
  margin: 24px;
}


/* Donate Today */

.Donate{
  margin-top: 80px;
  text-align: center;
}

.Donate-2{
  font-weight: 700;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}
.donetpra{
  font-weight: 400;
  font-size: 15px;
  color: #000000ad;
}

.donetbtn{
  font-weight: 400;
  font-size: 40px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.226);
}
.donetbtn:hover{
  background-color: #C6E4D6;
}
.input{
  font-weight: 400;
  font-size: 15px;
  margin-top: 32px;
  padding: 20px 422px;
  border: none;
  border-bottom: 1px solid #0e0e0e42;
  margin-bottom: 32px;

}

/* Subscribe Newsletter */

.Subscribe{
  border-radius: 24px;
  margin: 80px 0px;
  text-align: center;
  background-color: #C6E4D6;
  border-collapse: collapse;
  padding: 80px 250px;
  margin-bottom: 80px;
}

.subinput{
  display: flex;
}

.subinput input{
  padding: 18px 350px 18px  40px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  align-items: center;
}
.subinput input::placeholder{
  font-size: 18px;
  color: #cacaca;
}

.subinput button{
  background-color: #006a50be;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border: none;
  padding: 17px 34px;
  font-weight: 600;
  font-size: 18px;
}
.subinput button:hover{
  background-color: #006A50;
  color: white;
  transition: 0.2s;
}

.sub-title{
  font-weight: 800;
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.sub-des{
  font-weight: 500;
  font-size: 15px;
  color: #0e0e0e8f;
}
/* footer start */

footer{
  padding-top: 80px;
  text-align: center;
  background-color: white;
}

/* footer end */
